/*
!/MRL
/MRL/*

!/MRL/MRL_PC
/MRL/MRL_PC/*
!/MRL/MRL_PC/nickscripts
!/MRL/MRL_PC/myrobotlab.jar
!/MRL/MRL_PC/Start_PC.sh

!/MRL/MRL_PI
/MRL/MRL_PI/*
!/MRL/MRL_PI/nickscripts

!/MRL/SOURCE
/MRL/SOURCE/*
!/MRL/SOURCE/myrobotlab
!/.gitignore
